.root {
  @apply bg-[var(--color-primary)] text-[var(--color-background)] cursor-pointer inline-flex px-10 rounded-sm leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply bg-[var(--color-secondary)] border border-[var(--color-background)];
}

.root:focus {
  @apply outline-none ring-1 ring-[var(--color-accent)] ring-opacity-50;
}

.root[data-active] {
  @apply bg-[var(--color-secondary)];
}

.loading {
  @apply cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
