@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-primary: #72a1fe;
  --color-secondary: #638c91;
  --color-accent: #b63b58;
  --color-dark: #231a2a;
  --color-background: #fafafa;
  --color-text-1: #121314;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
}

/* You can use these colors in your CSS like this: */
/* color: var(--color-primary); */
/* background-color: var(--color-background); */

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-[var(--color-text-1)] bg-[var(--color-background)] antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-odor-mean-chey);
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p a {
  @apply hover:underline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px); /* Slight entrance from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hang {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(14px); /* Adjust the distance for the hang effect */
  }
}

/* Hang on hover */
.hang-animation:hover {
  opacity: 1;
  animation: hang 300ms ease-in-out forwards; /* Adjust duration for hover */
  animation-iteration-count: 1;
  cursor: pointer;
}

/* Fade in on entrance */
.hang-animation {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards; /* Adjust duration as desired */
  animation-iteration-count: 1; /* Perform only once and never again */
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.fade-in {
  opacity: 0; /* Ensures element is initially hidden */
  animation: fadeIn 0.8s ease-out forwards; /* Adjust duration as desired */
}
